<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Create a message</h1>
  <form action="" method="POST">
    <label for="title">Title</label>
    <input name="title" placeholder="title" type="text" />
    <label for="message">Message</label>
    <input name="message" placeholder="message" type="text" id="message" />
    <button>Post Message</button>
  </form>
</body>
</html>