<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Message</h1>
    <p><%= message.title %></p>
    <p><%= message.message %></p>
    <p><%= message.dateadded%></p>
    <p>Author: <%= message.author.screenname%></p>
  <form action="" method="POST">
    <button>Delete</button>
  </form>
</body>
</html>